# Following Along YouTube Tutorial

### Tutorial is trying to do the entire process only using pandas and numpy

In [3]:
# Import 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import random 
from pprint import pprint

In [4]:
# Load the data. 

data = pd.read_csv('iris.csv')

In [6]:
# Check out the data to make sure. 

data.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [11]:
# Check for any null values. 

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [18]:
# Now we break the data in to a train and a test split. 

# Define our function. 

def train_test_split(data, test_size):
    
    # Setting the test_size
    
    if isinstance(test_size, float):
        test_size = round(test_size * len(data)) 
        
        # Create a list of indices to pick from to create our train test split.
        
    indices = data.index.tolist()
    
    # Randomly select
    
    test_indices = random.sample(population=indcies, k= test_size)
    
    # Now we can create our test dataset.
    
    test_data = data.loc[test_indices]
    train_data = data.drop(test_indices)

    return train_data, test_data

In [19]:
# Use our function. 

train_data, test_data = train_test_split(data, test_size=0.1)

In [24]:
# Let us check. 

test_data.head()

     sepal.length  sepal.width  petal.length  petal.width     variety
74            6.4          2.9           4.3          1.3  Versicolor
130           7.4          2.8           6.1          1.9   Virginica
80            5.5          2.4           3.8          1.1  Versicolor
109           7.2          3.6           6.1          2.5   Virginica
147           6.5          3.0           5.2          2.0   Virginica